
/* Table of Content
==================================================
	# Default
	# Typography
	# CSS3
	# Buttons
	# Icons
	# Form
	# Layout
	# Header
	# Main Navigation
	# Tiled Portfolio
	# Home Type
	# Revolution Slider
	# Bottom Arrows
	# Block
	# Services
	# Profile
	# Portfolio
	# Modal & Item Popup Block
	# Price Package
	# Blog
	# Sidebar
	# Clients
	# Skills
	# Seperator
	# Twitter Feed & Quote Box
	# Newsletter
	# Miscellaneaus
	# Media Queries
*/

/*	==================================================
	# Default
	================================================== */
	body {
		font-weight:300;
	}
	a:focus {
		outline: 0px;
	}

/*	==================================================
	# Typography
	================================================== */
	h1, h2, h3, h4, h5, h6, .slogan{
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		color: #00bba6;
	}
	.section-title{
		font-size:30px;
		line-height:36px;
		text-align:center;
	}
	.slogan{
		font-size:30px;
		line-height:36px;
		margin-bottom:40px;
	}
	.darkgrey {
		color: #393939;
	}
	.white {
		color: #fff;
	}


/*	==================================================
	# CSS3
	================================================== */	
	a, 
	a:hover,
	.profile:hover .profile-photo,
	.blog-post:hover .blog-thumb {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}


/*	==================================================
	# Buttons
	================================================== */
	.border-btn {
		font-family: 'Montserrat', sans-serif;
		border: 1px solid #00bba6;
		text-transform: uppercase;
		font-size: 16px;
		padding: 10px 30px;
		color: #00bba6;
	}
	.border-btn.btn-medium {
		font-size: 13px;
		padding: 8px 15px;
	}
	.border-btn.btn-small {
		font-size: 11px;
		padding: 8px 15px;
	}
	.border-btn.btn-mini {
		font-size: 9px;
		padding: 5px 13px;
	}
	.border-btn,
	.social-btn {
		border-radius: 0px;
		background: none;
		text-shadow: none;
		box-shadow: none;
	}
	.social-btn {
		border: 1px solid #fff;
		color: #fff;
		font-size: 35px;
		line-height: 35px;
		padding: 25px;
		margin: 0px 10px 20px;
	}
	.border-btn:hover, 
	.border-btn:focus,
	.social-btn:hover,
	.social-btn:focus {
		background: #00bba6;
		border: 1px solid #00bba6;
		color: #fff;
		text-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.border-btn.white {
		color: #fff;
		border-color: #fff;
	}
	.border-btn.white:hover, 
	.border-btn:focus {
		background: #fff;
		color: #00bba6;
	}

/*	==================================================
	# Icons
	================================================== */
	[class^="icon-"].big,
	[class*=" icon-"].big {
		font-size: 90px;
		line-height: 90px;
		margin: 0px;
	}
	[class^="icon-"].huge,
	[class*=" icon-"].huge {
		font-size: 110px;
		line-height: 110px;
		margin: 0px;
	}
	a[class^="icon-"]:hover,
	a[class*=" icon-"]:hover,
	a[class^="icon-"]:focus,
	a[class*=" icon-"]:focus {
		text-decoration: none;
	}

/*	==================================================
	# Form
	================================================== */
	label {
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		color: #00bba6;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	textarea, 
	input[type="text"], 
	input[type="password"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		border: none;
		box-shadow: none;
		background: #f0f0f4;
	}
	textarea:focus, 
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {
		border-color: #cecece;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: #e8e8e8;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	select,
	textarea,
	input[type="text"], 
	input[type="password"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		margin-bottom: 25px;
		padding: 10px 8px;
		height: auto;
	}
	textarea {
		resize: none;
	}
	input[type="submit"].input-block-level {
		width: 100%;
		display: block;
	}
	
	.contact-form {
		margin-top: 33px;
	}
	.form-success {
		display: none;
		padding: 15px;
		margin-top: 40px;
		color: #fff;
		background: #00bba6;
	}
	input.error,
	textarea.error {
		border: 1px solid #d3400c;
	}
	.contact-form .loading {
		display: none;
		background: #000;
		background: url(assets/img/ajax-loader.gif) no-repeat;
		width: 25px;
		height: 25px;
		margin-top: 15px;
	}

/*	==================================================
	# Layout
	================================================== */
	.home-type {
		width: 100%;
		overflow: hidden;
	}
	.page-type {
		padding: 45px 0px;
		width: 100%;
		background: #fff;
	}
	.seperator-type {
		width: 100%;
		height: auto;
		position: relative;
	}
	.header-type {
		background: #000000;
		color: #8f8f8f;
		padding: 17px 0px;
		position: relative;
		z-index: 25;
	}
	.header-type:before {
		content: "";
		display: block;
		position: absolute;
		bottom: -6px;
		width: 100%;
		height: 6px;
		background: url(assets/img/top-border-re.png) repeat-x;
	}
	.footer-type {
		background: #000000;
		font-size: 11px;
		padding: 40px 0px;
		color: #fff;
		position: relative;
	}
	.footer-type:before {
		content: "";
		display: block;
		position: absolute;
		top: -6px;
		width: 100%;
		height: 6px;
		background: url(assets/img/footer-border-re.png) repeat-x;
	}
	.light-bg {
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC42Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	}
	.green-bg {
		background-color: #00bba6;
	}
	.dark-bg {
		background-color: #393939;
	}
	
	#intro {
		background: #f7f7f9;
	}
	#team,
	#clients {
		background: #f0f0f4;
	}
	#blog {
		background: url(demo/dummy/590x410.jpg);
		background-size: cover;
	}

/*	==================================================
	# Green Bg
	================================================== */
	.green-bg h1,
	.green-bg h2,
	.green-bg h3,
	.green-bg h4,
	.green-bg h5,
	.green-bg h6 {
		color: #fff;
	}

/*	==================================================
	# Header
	================================================== */
	.header-type .logo {
		height: 20px;
	}
	.header-type .logo a {
		display: block;
	}
	.header-type .logo img {
		max-height: 100%;
		display: block;
	}
	.header-type ul {
		list-style: none;
		margin: 0px;
	}
	.header-type .address li {
		float: left;
		text-transform: uppercase;
		font-size: 10px;
		font-family: 'Montserrat', sans-serif;
		margin-left: 8px;
	}
	.header-type .adds li {
		font-size: 20px;
		float: left;
		margin-left: 25px;
	}
	.header-type a:hover,
	.header-type a:focus {
		color: #fff;
	}

/*	==================================================
	# Main Navigation
	================================================== */
	.nav-container {
		position: relative;
		background: #00bba6;
		height: 57px;
		z-index: 200;
	}
	.main-nav {
		height: 57px;
		width: 100%;
		margin: auto;
		font-family: 'Montserrat', sans-serif;
		background: #00bba6;
		z-index: 200;
	}
	.main-nav.affix {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		display: block;
	}
	.main-nav .nav {
		margin: 0px;
		text-align: center;
	}
	.nav > li > a:hover,
	.nav > li > a:focus,
	.nav > li.current-menu-item > a {
		background: none;
		color: #393939;
	}
	.main-nav li {
		display: inline-block;
		text-transform: uppercase;
		line-height: 57px;
	}
	.main-nav li a{
		color: #fff;
		padding: 0px 15px;
	}
	#mobile-navigation {
		display: none;
		margin: 8px auto 0px;
	}

/*	==================================================
	# Tiled Portfolio
	================================================== */
	.tiled-items {
		position: relative;
		display: none;
	}
	.items-container {
		position: relative;
		overflow: hidden;
	}
	.items-container.affix {
		position: fixed;
		z-index: 0;
		top: 0px;
	}
	.tiled-items .item {
		float: left;
		position: relative;
		overflow: hidden;
	}
	.tiled-items .item img {
		width: 101%;
		max-width: 101%;
	}
	.tiled-items .item img.grayscale {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	}

	.tiled-items .direction-nav {
		list-style: none;
		margin: 0px;
	}
	.tiled-items .direction-nav a {
		position: absolute;
		top: 50%;
		height: 45px;
		line-height: 45px;
		margin-top: -22px;
		padding: 0px 15px;
		font-size: 24px;
		color: #fff;
		background: #2dc7b5;
	}
	.tiled-items .direction-nav .prev {
		left: 0px;
	}
	.tiled-items .direction-nav .next {
		right: 0px;
	}
	.tiled-items .direction-nav .disabled {
		opacity: 0.2;
	}

/*	==================================================
	# Home Type
	================================================== */
	.home-type {
		position: relative;
	}
	.home-type .overlay {
		z-index: 5;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background: url(assets/img/tile.png) repeat;
	}
	.home-type .overlay.affix {
		position: fixed;
		z-index: 0;
	}
	.home-type .overlay .fade-element {
		color: #fff;
		margin-top: 60px;
		padding: 0px 40px;
		display: none;
	}
	.home-type .overlay .container {
		height: 100%;
		position: relative;
	}
	.home-type .overlay .overlay-content {
		height: 380px;
		position: absolute;
		top: 50%;
		margin-top: -190px;
		left: 0px;
		right: 0px;
	}
	
	/* Since v1.1 */
	.home-type .video-bg {
		position: relative;
		background: url(assets/img/ajax-loader.gif) center no-repeat;
	}
	/* End Since v1.1 */
	.home-type.parallax-type {
		background: url(demo/home/rev-slider/black-green-bg.jpg) no-repeat;
		background-size: cover;
	}
	.home-type.parallax-type .overlay {
		background: none;
		padding: 0px;
	}
	.home-type .parallax {
		height: 560px;
		position: relative;
		z-index: 5;
	}
	.home-type .parallax.short {
		height: 300px;
	}
	
	.home-type.fullwidthbanner-container {
		width: 100%!important;
		padding: 0;
		max-height: 500px!important;
	}
	.home-type.fullwidthbanner-container ul {
		list-style: none;
		margin: 0px;
	}


/*	==================================================
	# Revolution Slider
	================================================== */
	.rev-text {
		width: 61%;
		max-width: 61%!important;
		color: #fff;
	}
	.rev-title {
		margin: 0px;
	}
	.rev-title.big {
		font-size: 40px;
		line-height: 46px;
	}
	.tp-caption .border-btn {
		margin-right: 3%;
	}
	.tp-leftarrow.default,
	.tp-rightarrow.default {
		height: 45px!important;
		width: auto!important;
		line-height: 45px;
		margin-top: -22px;
		padding: 0px 15px;
		font-size: 24px;
		color: #fff;
		background: #2dc7b5!important;
	}
	

/*	==================================================
	# Bottom Arrows
	================================================== */
	.bottom-arrow {
		position: relative;
	}
	.bottom-arrow:after {
		content: "";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 28px solid #fff; 
		border-left: 27px solid transparent; 
		border-right: 28px solid transparent; 
		bottom: -28px; 
		left: 50%;
		margin-left: -28px;
		position: absolute; 
		z-index: 15;
	}
	.green-bg.bottom-arrow:after {
		border-top-color: #00bba6;
	}
	.dark-bg.bottom-arrow:after {
		border-top-color: #393939;
	}
	#intro.bottom-arrow:after {
		border-top-color: #f7f7f9;
	}
	.green-bg.light-bg.bottom-arrow:after {
		border-top-color: #2dc7b5;
	}
	#team.bottom-arrow:after,
	#clients.bottom-arrow:after {
		border-top-color: #f0f0f4;
	}
	#blog.bottom-arrow:after {
		border-top-color: #494949;
	}

/*	==================================================
	# Block
	================================================== */
	.block{
		padding: 25px 0px;
	}
	.block .btn{
		margin: 15px 0px 0px;
	}
	.block [class^="icon-"],
	.block [class*=" icon-"] {
		color: #393939;
	}

/*	==================================================
	# Services
	================================================== */
	.services {
		margin-bottom: 15px;
	}
	.service {
		height: 215px;
		position: relative;
		margin-bottom: 10px;
		cursor: pointer;
		overflow: hidden;
	}
	.service-title {
		text-transform: none;
		font-size: 20px;
		line-height: 26px;
		margin: 30px 0px;
	}
	.service .front {
		background:#00bba6;
		height:180px;
		padding:35px 0px 0px;
	}
	.service .back {
		background: #393939;
		color: #fff;
		padding: 40px 8.7% 30px;
		height: 145px;
		width: 82.6%;
		position: absolute;
	}
	.service p{
		margin-bottom:10px;
	}
	.service [class^="icon-"],
	.service [class*=" icon-"] {
		color:#fff;
	}

/*	==================================================
	# Profile
	================================================== */
	.carousel .slides li {
		width: 230px;
		margin-right: 10px;
	}
	.profile {
		background: #fff;
		margin-bottom: 30px;
	}
	.profile-content {
		padding: 25px 8.7% 10px;
	}
	.profile-name,
	.profile-function,
	.profile-social {
		display:block;
	}
	.profile:hover .profile-photo {
		opacity:0.5;
	}
	.profile .profile-photo {
		overflow: hidden;
	}
	.profile .profile-photo img {
		width: 100.5%!important;
		max-width: 100.5%;
	}
	.profile .profile-photo:hover {
		cursor: pointer;
	}
	.profile-name {
		font-family: 'Montserrat', sans-serif;
		color: #393939;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 8px;
	}
	.profile-function {
		margin-bottom: 15px;
	}
	.profile-social {
		padding: 10px 0px 25px;
	}
	.profile-social [class^="icon-"],
	.profile-social [class*=" icon-"] {
		font-size: 17px;
		margin-right: 10px;
	}
	.profile-text{
		padding-top: 0px;
	}

/*	==================================================
	# Portfolio
	================================================== */
	.item-box {
		background: #393939;
		color: #fff;
		margin-bottom: 30px;
	}
	.item-box .item-content {
		padding: 30px;
		width: 300px;
		float: left;
	}
	.item-box .item-content a:hover {
		color: #fff;
	}
	.item-box .item-title {
		margin-top:0px;
	}
	.item-box .item-images {
		width: 590px;
		float: left;
	}
	
	.portfolio .item {
		width: 230px;
		margin: 0px 0px 10px 10px;
		float: left;
	}
	.portfolio .item-thumb {
		position: relative;
		overflow: hidden;
	}
	.portfolio .item-thumb:hover,
	.tiled-items .item:hover {
		cursor: pointer;
	}
	.portfolio .item-info {
		margin-bottom: 15px;
	}
	.portfolio .item .back,
	.tiled-items .item .back {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #00bba6;
		background: rgba(0, 187, 166, 0.85);
		display:none;
	}
	.portfolio .item-icons,
	.tiled-items .item-icons {
		position: absolute;
		top: 50%;
		height: 38px;
		width: 100%;
		display: block;
		text-align: center;
		margin: -25px 0px 0px;
	}
	.portfolio .item-icons a,
	.tiled-items .item-icons a {
		border: 1px solid #fff;
		display: inline-block;
		color: #fff;
		height: 38px;
		width: 38px;
		margin-right: 2px;
	}
	.portfolio .item-icons a:hover,
	.tiled-items .item-icons a:hover {
		background: #fff;
		color: #00bba6;
	}
	.portfolio .item-icons a i,
	.tiled-items .item-icons a i {
		line-height: 38px;
		font-size: 18px;
	}
	.portfolio .item h4 {
		margin: 20px 0px 5px;
	}
	.portfolio .item-info span {
		margin-bottom: 5px;
		display: block;
	}
	
	/* =========== Portfolio Filter =========== */
	.filter ul {
		list-style: none;
		margin: 30px 0px 40px;
		display: block;
		text-align: center;
	}
	.filter ul li {
		margin: 0px 7px 10px;
		display: inline-block;
	}
	.filter ul li a {
		font-family: 'Montserrat', sans-serif;
		border: 1px solid #00bba6;
		padding: 10px 17px;
		text-transform: uppercase;
		display: block;
	}
	.filter ul li a:hover,
	.filter ul li a:focus,
	.filter ul li.active a {
		background: #00bba6;
		color: #fff;
	}
	
	/* =========== Isotope Filtering =========== */
	.isotope-item {
		z-index: 2;
	}
	.isotope-hidden.isotope-item {
		pointer-events: none;
		z-index: 1;
	}
	
	/* =========== Isotope CSS3 transitions =========== */
	.isotope,
	.isotope .isotope-item {
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
	}
	.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		-ms-transition-property: height, width;
		-o-transition-property: height, width;
		transition-property: height, width;
	}
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property:    -moz-transform, opacity;
		-ms-transition-property:     -ms-transform, opacity;
		-o-transition-property:      -o-transform, opacity;
		transition-property:         transform, opacity;
	}
	
	/* =========== disabling Isotope CSS3 transitions =========== */
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}


/*	==================================================
	# Modal & Item Popup Block
	================================================== */
	.modal {
		border-radius: 0px;
		-webkit-border-radius: 0px;
	}
	.modal-footer {
		border: none;
		background: #fff;
		padding-top: 0px;
	}
	
	.white-popup-block {
		background: #fff;
		margin: 20px auto;
		max-width: 600px;
		position: relative;
	}
	.item-in-detail .item-header {
		border-bottom: 1px solid #eee;
		padding: 15px 20px;
	}
	.item-in-detail .item-header h3 {
		margin: 0px;
	}
	.item-in-detail .item-media {
		width: 100%;
		background: url(assets/img/ajax-loader.gif) center no-repeat;
	}
	.item-in-detail .item-body {
		padding: 20px;
	}
	.item-in-detail .item-footer {
		padding: 0px 20px 20px;
	}
	
	/* Since v1.1 */
	.item-in-detail .item-comments,
	.item-in-detail .item-respond {
		padding: 0px 20px 15px;
		border-top: 1px solid #efefef;
	}
	.item-in-detail .commentlist,
	.item-in-detail .commentlist .children {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.item-in-detail .commentlist .children {
		margin-left: 5%;
	}
	.item-in-detail .comment-img {
		width: 60px;
		height: 60px;
		float: left;
		margin-bottom: 20px;
	}
	.item-in-detail .children .comment-img {
		width: 50px;
		height: 50px;
	}
	.item-in-detail .comment-meta {
		padding: 0px 0px 10px;
	}
	.item-in-detail .comment-meta,
	.item-in-detail .comment-text {
		padding-left: 80px;
	}
	.item-in-detail .children .comment-meta,
	.item-in-detail .children .comment-text {
		padding-left: 70px;
	}
	.item-in-detail .comment-text {
		padding-bottom: 10px;
	}
	/* End Since v1.1 */
	
/*	==================================================
	# Price Package
	================================================== */
	.price-package {
		background: #393939;
		margin-bottom: 10px;
	}
	.price-package:hover {
		margin-bottom: 0px;
		position: relative;
		z-index: 99;
	}
	.package-header,
	.package-price,
	.package-features {
		padding: 20px;
	}
	.price-package .name,
	.price-package .price {
		font-family: 'Montserrat', sans-serif;
		color: #fff;
	}
	.price-package .name {
		text-transform: uppercase;
		font-size: 16px;
	}
	.package-price {
		background: #4f4f4f;
		font-size: 30px;
		line-height: 36px; 
	}
	.price-package:hover {
		border: 1px solid #fff;
	}
	.price-package:hover .package-price {
		background: #00bba6;
	}
	.package-price small {
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
	}
	.price-package ul {
		list-style: none;
		margin: 0px;
	}
	.price-package ul li {
		margin-bottom: 8px;
	}
	.price-package ul li:hover {
		color: #fff;
	}
	.price-package .btn {
		margin: 0px 25px 20px;
		display: block;
	}

/*	==================================================
	# Blog
	================================================== */
	.blog-post {
		background: #fff;
		margin-bottom: 10px;
	}
	.blog-post:hover .blog-thumb {
		opacity:0.5;
	}
	.blog-post .blog-thumb {
		overflow: hidden;
	}
	.blog-post .blog-thumb img {
		width: 100.5%;
		max-width: 100.5%;
	}
	.blog-post .blog-thumb:hover {
		cursor: pointer;
	}
	.blog-info {
		padding: 25px 20px 0px;
	}
	.blog-title {
		font-size: 16px;
		line-height: 21px;
		margin:0px 0px 20px;
	}
	.blog-meta a {
		width: 25%;
		text-align: center;
		display: block;
		float: left;
		font-size: 16px;
		line-height: 16px;
		padding: 10px 0px;
		position: relative;
	}
	.blog-meta a:hover {
		color: #fff;
		background: #00bba6;
	}

/*	==================================================
	# Sidebar
	================================================== */		
	.widget {
		background: #fff;
		margin-bottom: 10px;
	}
	.widget-title {
		background: #393939;
		padding: 15px 25px;
		margin: 0px;
	}
	.widget ul {
		list-style: none;
		padding: 25px;
		margin: 0px;
	}
	
/*	==================================================
	# Clients
	================================================== */
	.clients.carousel {
		padding:0px 85px;
		margin-bottom: 30px;
	}
	.clients.carousel .slides li {
		width: 230px;
		margin-right: 45px;
	}
	.clients.carousel .slides li a {
		opacity: 0.6;
		display: block;
	}
	.clients.carousel .slides li a:hover {
		opacity: 1;
	}

/*	==================================================
	# Skills
	================================================== */	
	.skill{
		margin-bottom:10px;
	}
	.progress{
		background: #f7f7f9;
		height: 8px;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		overflow: visible;
	}
	.progress .bar{
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		position: relative;
	}
	.progress-success .bar, 
	.progress .bar-success{
		background-color: #00bba6;
		background-image: none;
		filter: none;
	}
	.percentage-marker {
		background: #393939;
		color: #fff;
		padding: 4px 6px;
		position: absolute;
		top: -30px;
		right: -13px;
		font-size: 10px;
		line-height: 10px;
	}
	.percentage-marker:after {
		content: "";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 5px solid #393939; 
		border-left: 5px solid transparent; 
		border-right: 5px solid transparent; 
		bottom: -5px; 
		left: 50%;
		margin-left: -5px;
		position: absolute;
		z-index: 15;
	}

/*	==================================================
	# Seperator
	================================================== */
	.seperator-type .slogan {
		color: #fff;
		margin: 45px 50px;
	}
	.seperator-type .container {
		padding: 80px 0px 60px;
	}
	.parallax-type .container {
		padding: 100px 0px;
		position: relative;
	}
	.parallax {
		width: 100%;
		top: 0px;
		bottom: 0px;
		background: url(demo/dummy/1800x724.jpg) 50% 0 no-repeat fixed;
		margin: 0 auto; 
		overflow: hidden; 
		padding: 0;
		position: absolute;
		z-index: -10;
	}
	.seperator-type .dark-overlay {
		position: absolute;
		z-index: -5;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		background: url(assets/img/tile.png) repeat;
	}

/*	==================================================
	# Google Maps
	================================================== */
	.google-maps {
		height: 500px;
	}

/*	==================================================
	# Twitter Feed & Quote Box
	================================================== */
	.tweet-box,
	.quote-box,
	.text-box {
		background: #393939;
		padding: 30px;
		position: relative;
		margin-bottom: 30px;
	}
	.text-box {
		padding-bottom: 10px;
	}
	.tweet-box:before,
	.quote-box:before,
	.text-box:before {
		content: "";
		display: block;
		width: 0; 
		height: 0; 
		border-bottom: 8px solid #393939; 
		border-left: 9px solid transparent; 
		border-right: 9px solid transparent; 
		top: -8px; 
		left: 35px;
		position: absolute; 
		z-index: 15;
	}
	.tweet-box .icon-twitter,
	.quote-box .icon-quote {
		color: #00bba6;
		font-size: 20px;
		position: absolute;
		bottom: 25px;
		right: 25px;
	}
	.tweet-box a:hover,
	.quote-box a:hover,
	.text-box a:hover {
		color: #fff;
	}
	.tweet_list {
		margin: 0px;
		list-style: none;
		color: #fff;
	}
	.tweet_list li {
		margin-top: 15px;
	}
	.tweet_list .tweet_first {
		margin-top: 0px;
	}
	.tweet_time {
		display: block;
		font-style: italic;
	}

/*	==================================================
	# Newsletter
	================================================== */
	.newsletter {
		position: relative;
	}
	.newsletter .news-title {
		font-family: 'Montserrat', sans-serif;
		background: #00bba6;
		padding: 0px 15px;
		float: left;
		height: 44px;
		line-height: 44px;
		color: #fff;
		text-transform: uppercase;
		position: relative;
	}
	.newsletter .news-title:after {
		content: "";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 22px solid transparent; 
		border-bottom: 22px solid transparent;
		border-left: 12px solid #00bba6;
		position: absolute;
		top: 0px;
		right: -12px;
	}
	.newsletter input {
		padding-left: 25px;
		height: 44px;
	}
	.newsletter button {
		position: absolute;
		top: 0px;
		right: 0px;
		background: none;
		border: none;
		color: #8f8f8f;
		border-left: 1px solid #fff;
		background: #f0f0f4;
		font-size: 18px;
	}
	.newsletter .news-icon {
		float: right;
		height: 44px;
		width: 46px;
		line-height: 44px;
	}
	.newsletter .news-icon:hover {
		color: #00bba6;
	}

/*	==================================================
	# Footer
	================================================== */
	.copyright {
		margin-bottom: 0px;
	}
	
/*	==================================================
	# Miscellaneaus
	================================================== */
	.tooltip-inner {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	.last {
		margin-right: 0px!important;
	}
	
	/* Since v1.2 */
	.parallax-mobile {
		background-position: 50% 0px!important; 
		background-attachment: scroll!important;
	}
	/* End Since v1.2 */

@media screen and (max-width: 1024px){
	.items-container,
	.tiled-items .direction-nav {
		display: none;
	}
	.tiled-items .overlay .slogan {
		padding: 0px;
	}
	.tiled-items {
		display: block;
		height: 550px;
	}
	.tiled-items .overlay {
		height: 550px;
	}
	.tiled-items .overlay {
		padding: 60px 0px;
		position: relative;
	}
}

@media screen and (max-width: 979px){
	.main-nav {
		width: 100%;
	}
	.main-nav .nav {
		display: none;
	}
	#mobile-navigation {
		display: block;
	}
	.service{
		height: auto;
	}
	.service .front {
		height: 180px;
		padding: 35px 0px 0px;
	}
	.service .back{
		height: auto;
		display: block;
		position: relative;
		top: inherit;
	}
	.item-box .item-content {
		width: auto;
		float: none;
	}
	.item-box .item-images {
		width: 100%;
		float: none;
	}
	.parallax {
		background-position: 50% 0px!important; 
		background-attachment: scroll!important;
	}
	.seperator-type .slogan {
		margin: 20px 0px;
	}
	.home-type .overlay .fade-element {
		padding: 0px;
	}
}
@media screen and (min-width: 768px) and (max-width: 979px){
	.container{
		width:738px;
	}
	.service .back{
		min-height:190px;
	}
	.carousel .slides li {
		width: 176px!important;
	}
	.clients.carousel .slides li {
		width: 158px!important;
	}
	.portfolio .item {
		width: 176px;
	}
	.home-type .overlay .overlay-content {
		margin-top: -200px;
	}
}
@media screen and (max-width: 767px){
	.header-type .adds {
		display: none;
	}
	.header-type .logo {
		margin-bottom: 10px;
	}
	.portfolio .item {
		margin-left: 0px;
	}
	.google-maps {
		height: 300px;
	}
	.slogan{
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 40px;
	}
	.tiled-items {
		display: block;
		height: 550px;
	}
	.tiled-items .overlay {
		height: 450px;
	}
	.tp-caption .border-btn {
		font-size: 12px;
		padding: 2% 4%;
	}
	.home-type .parallax.short {
		height: 280px;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px){
	.container{
		width:420px;
	}
	.carousel .slides li {
		width: 205px!important;
	}
	.clients.carousel .slides li {
		width: 250px!important;
	}
	.portfolio .item {
		width: 200px;
	}
	.rev-title {
		font-size: 16px;
		line-height: 22px;
	}
	.rev-title.big {
		font-size: 24px;
		line-height: 28px;
	}
}

@media screen and (max-width: 479px){
	.container{
		width: 300px;
	}
	.carousel .slides li {
		width: 300px!important;
	}
	.clients.carousel .slides li {
		width: 210px!important;
	}
	.clients.carousel {
		padding:0px 45px;
	}
	.portfolio .item {
		width: 300px;
	}
	.rev-title {
		font-size: 10px;
		line-height: 14px;
	}
	.rev-title.big {
		font-size: 16px;
		line-height: 20px;
	}
	.home-type .overlay .fade-element {
		margin-top: 40px;
	}
	/* Since v1.1 */
	.tiled-items {
		height: 550px;
	}
	.tiled-items .overlay {
		height: 450px;
	}
	/* End Since v1.1 */
	.home-type .overlay .overlay-content {
		margin-top: -210px;
	}
}