html, body  
	{ 
	
	 background: #f9f9f9 url(images/bg11.jpg) no-repeat center 0px;
	 background-attachment:fixed;
font: 12px/16px Arial,Helvetica,sans-serif;
color: white;
	}

body *
	{
	
	background: #f9f9f9 url(images/bg11.jpg) no-repeat center 0px;
	background-attachment:fixed;
font: 12px/16px Arial,Helvetica,sans-serif;
color: white;

	}
img 
  {background: transparent;
	max-width: 600px;
	
	}
h1,h2,h3,h4,h5,h6,p
{ background: transparent none;}	
	
h1 
	{font-size: 20px; 
	 font-weight: bold;
	 margin-bottom: 0px;
	 
	}
h2 
	{font-size: 16px;
	margin-top: 0px;
	}
h3
	{font-size: 1em; 
	 font-weight: bold;
	}
h1,span {color: orange;}






subtitle { color: white; font-size: 18px; background: orange; 
padding: 0px 5px 0px 5px;
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: 1px 1px 0px black;
text-shadow: 1px 1px 0px #a04700;}

	
	
	section#kontener {
	width: 1000px;
	min-height: 500px;
	margin: 0px auto 0px auto;
	background: transparent;
	float: none;
	
	
	}
	
	header {
	width: 100%;
	height: auto;
	margin: 0px auto 0px auto;
	background: transparent;

	}
	
	nav {
	
	font-weight: 200;
width: 100%;
margin: 70px 0px 20px 0px;
height: 62px;
background: transparent url(images/transp_black.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
float: left;}





section {

width: 600px;
min-height: 400px;
background: transparent none;
margin: 10px 0px 0px 0px;
float: left;
text-shadow: 1px 1px 0px #111; }

article {
background: transparent url(images/transp_black.png);
width: 600px;
padding: 20px 20px 20px 20px;
margin: 0px 20px 30px 0px;

border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
float: left;}

aside {
padding: 10px 10px 10px 10px;
width: 320px;
min-height: 200px;
background: transparent url(images/transp_black.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
margin: 10px 0px 0px 55px;
float: left;
text-shadow: 1px 1px 0px #111;}




	
	#logo {
	background: transparent none;
	width: 420px;
	height: 80px;
float: left;
margin: 60px 0px 0px 0px;
border: none;
}
	
	

.nawigacja_separator {
background: url(images/nav_sep.gif) no-repeat 0px 50%;
width: 2px;
height: 62px;
float: left;
margin: 0px 0px 0px 5px;
}

nav ul {
background: transparent;
padding: 0px 0px;
margin: 0px;
list-style: none;
cursor: pointer; 

}

nav ul li {
background: transparent;
float: left;
font-size: 18px;
font-weight: normal;}


nav li a {
background: transparent;
text-align: center;
min-width: 80px;
color: #ffffff;
margin: 0px 0px;
padding: 20px 20px 10px 20px ;
display: block;
text-decoration: none;
text-shadow: 1px 1px 0px black;
 }



nav li a:hover  { 
min-width: 80px;
background: transparent url(images/hover.png) no-repeat center 10px;
text-shadow: 1px 1px 0px #333;
}

nav li a:active {
min-width: 80px;
display: block;
background: transparent url(images/hover.png) no-repeat center 10px;
text-shadow: 1px 1px 0px #333;
}

.napiszdomnie {
background: transparent;
text-align: center;
min-width: 80px;
color: #00a8ff;
margin: 0px 0px 0px 20px;
padding: 20px 20px 10px 20px ;
display: block;
text-decoration: none;
text-shadow: 1px 1px 0px black;}



section img {
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: 1px 1px 10px #111; 
}

section#kontener img {
border: 0px none;
-moz-border-radius: none;
-webkit-border-radius: none;
border-radius: none;
box-shadow: none; 
}





article p { background: transparent;}






#dol {
float:left;
width:10px;
background: transparent;
}




.prawy_kontener_orange {
padding: 10px 10px 10px 10px;
width: 320px;
min-height: 200px;
background: transparent url(images/transp_orange.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
margin: 10px 0px 0px 55px;
float: left;
text-shadow: 1px 1px 0px #111;
color: #333;}


footer {
	font-weight: 200;
width: 100%;
margin: 20px 0px 20px 0px;
height: 40px;
background: transparent url(images/transp_black.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
text-shadow: 1px 1px 0px #111;
float: left;}

footer p  {
text-align: center;
margin: 10px auto 10px auto;}

footer a {
 background: transparent;
 color: orange;
 text-decoration: none;}











.dane {

width: 120px;
float: left;
background: transparent;}

.dane p {
font-size: 10px;
line-height: 10px;
margin-top: 120px;
background: transparent;}

span{
color: #00a8ff;
background: transparent;}


.linki {
padding: 10px 10px 10px 10px;
width: 300px;
min-height: 100px;
background: transparent url(images/transp_black.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
margin: 10px 0px 0px 0px;
float: left;
text-shadow: 1px 1px 0px #111;}


.spacer {
width: 19px;
height: 50px;
float: left;}



.linki ul,li,a {
background: transparent;
text-decoration: none;}

.linki a { color: #00a8ff;}



section#kontakt {
padding: 20px;
height: auto;
width: 96%;
margin: auto;
background: transparent url(images/transp_white.png);
font-size: 25px;
text-align: center;
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;


}

#kontakt p {
color: #333;
background: transparent;
font-size: 30px;
line-height: 30px;
text-align: center;
}


#kontakt span {
color: #00a8ff;
font-size: 30px;
font-weight: bold;
}




.do_dolu {
z-index: 40;
  position: fixed;
  bottom: 0px;
min-width: 60px;
min-height: 20px;
background: transparent;
margin: auto auto 20px -70px;
float: left;
text-shadow: 1px 1px 0px #111;
color: #333;


}

.do_dolu a {
padding: 5px 5px 5px 5px;
background: transparent url(images/transp_orange.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
color: white;

text-decoration: none;}



p.info  { 
padding-left: 125px;
}

.do_dolu a:hover {
background: #00a8ff none;}


.do_gory {
z-index:100;
  position:fixed;
  bottom:0px;
min-width: 60px;
min-height: 20px;
background: transparent;
margin: auto auto 60px -70px;
float: left;
text-shadow: 1px 1px 0px #111;
color: #333;


}

.do_gory a {
padding: 5px 5px 5px 5px;
background: transparent url(images/transp_orange.png);
border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
color: white;

text-decoration: none;}

.do_gory a:hover {
background: #00a8ff none;}





/*for 800px and less */
@media screen and (max-width: 800px) {

section#kontener { width: 650px; padding: 0px;}
aside { display: none; width: 0px;  }
section { width: 650px; }
article { width: 600px; }
header { width: 100%; }

nav ul { width: 650px; margin-right: 0px; padding-right: 0px; }
nav li a { 
max-width: 90px; margin: 0px;  padding: 20px 10px 10px 10px ; }
nav li a:hover { max-width: 90px; }
nav li a:active { max-width: 90px; }

.nawigacja_separator { margin: 0px; padding: 0px; }
.do_dolu { margin-left: 520px; margin-top: 0px; top: 0px;}
.do_gory { margin-left: 580px; margin-top: 0px; top: 0px; }
footer { width: 600px; }
.napiszdomnie {display: none; }

.linki { width: 645px; }

}



/*for 600px and less */
@media screen and (max-width: 600px) {

.do_dolu { margin-left: 295px; margin-top: 0px; top: 0px;}
.do_gory { margin-left: 350px; margin-top: 0px; top: 0px; }

img { max-width: 380px;}
section#kontener { width: 400px; padding: 0px;}
aside { display: none; width: 0px;  }
section { width: 400px; }
article { width: 400px; margin-left: 0px; margin-right: 0px; padding: 10px; }
header { width: 100%; }
footer { width: 400px; }
.napiszdomnie {display: none; }



nav ul {
width: 450px;
background: transparent;
padding: 0px 0px;
margin: 0px;
list-style: none;
cursor: pointer; 
border: none;

}

nav ul li {
background: transparent;
float: left;
font-size: 18px;
font-weight: normal;}


nav li a {
background: transparent url(images/transp_black.png);
text-align: center;
width: 150px;
color: #ffffff;
margin: 0px 5px 5px 5px;
padding: 20px 20px 10px 20px ;
display: block;
text-decoration: none;
text-shadow: 1px 1px 0px black;

border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
 }



nav li a:hover  { 
min-width: 80px;
background: transparent url(images/hover.png) no-repeat center 10px;
text-shadow: 1px 1px 0px #333;
}

nav {
	border: none;
	background: none;
	font-weight: 200;
width: 100%;
margin: 80px 0px 20px 0px;
height: auto;
box-shadow: none;


float: left;}

.nawigacja_separator { display: none; }

.linki { width: 395px; }

}






/*for 400px and less */
@media screen and (max-width: 320px) {

.do_dolu { margin-left: 0px; margin-top: 0px; top: 0px;}
.do_gory { margin-left: 0px; margin-top: 0px; top: 0px; }

img { max-width: 95%;}
section#kontener { width: 95%; padding: 0px;}
aside { display: none; width: 0px;  }
section { width: 95%; }
article { width: 95%; margin-left: 0px; margin-right: 0px; padding: 10px; }
header { width: 95%; }
footer { width: 95%; }
.napiszdomnie {display: none; }



nav ul {
width: 100%;
background: transparent;
padding: 0px 0px;
margin: 0px;
list-style: none;
cursor: pointer; 
border: none;

}

nav ul li {
width: 90px;
background: transparent;
float: left;
font-size: 18px;
font-weight: normal;}


nav li a {
background: transparent url(images/transp_black.png);
text-align: center;
width: 90%;

color: #ffffff;
margin: 0px 0px 0px -7px;
padding: 10px 10px 10px 10px ;
display: block;
text-decoration: none;
text-shadow: 1px 1px 0px black;

border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
 }



nav li a:hover  { 

background: black url(images/hover.png) no-repeat;
text-align: center;
width: 90%;

color: #ffffff;
margin: 0px 0px 0px -7px;
padding: 10px 10px 10px 10px ;
display: block;
text-decoration: none;
text-shadow: 1px 1px 0px black;

border: 0px none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: -1px -1px 0px #fff;
}

nav {
	border: none;
	background: none;
	font-weight: 200;
width: 100%;
margin: 0px 0px 20px 0px;
height: auto;
box-shadow: none;


float: left;}

.nawigacja_separator { display: none; }

.linki { width: 300px; }

#logo { width: 100%; }

}










.slider-wrapper { 
	width: 100%; 
	margin: 0px auto;
}