<div class="white-popup-block item-in-detail clearfix">
	<div class="item-header"><h3>Goryl<br /><small>Ilustracja na Tshirt</small></h3></div>
    <div class="item-media flexslider">
    	<ul class="slides">
        	<li><img src="portfolio/goryl.jpg" alt="" /></li>
            <li><img src="portfolio//goryl/screen_1.jpg" alt="" /></li>
            
            <li><img src="portfolio//goryl/screen_3.jpg" alt="" /></li>
            <li><img src="portfolio//goryl/screen_4.jpg" alt="" /></li>
            <li><img src="portfolio//goryl/screen_5.jpg" alt="" /></li>
    	</ul>
    </div>
    <div class="item-body">
    	<p>Ilustracja wektorowa stworzona z myślą o naniesieniu jej na koszulkę. </p>
   	<p>Ilustracja miała okazję być wyróżniona poprzez umieszczenie jej w Xara Xone.</p>
 		
	</div>
    <div class="item-footer clearfix"><a href="xara.com" class="btn border-btn btn-small pull-right">Xara Xone</a></div>
</div>